{% extends 'base.html.twig' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 mb-2 text-justify">
                    {{ post.post_title }}
            </div>
            <div class="col-3">
                <a href="{{ SITE_URL }}/edit/{{ post.post_slug }}">
                    <button class="btn btn-primary btn-block">Edit</button>
                </a>
            </div>
            <div class="col-12 col-md-6 offset-md-3 mb-2 text-justify">
                <small class="text-muted">
                    {{ post.post_date|date('Y/m/d') }}
                </small>
            </div>
            <div class="col-12 col-md-6 offset-md-3 mb-2 text-justify">
                <a href="{{ SITE_URL }}/category/{{ category.category_slug }}">
                    {{ category.category_name }}
                </a>
            </div>
            <div class="col-12 col-md-6 offset-md-3 mb-2 text-justify">
                    {{ post.post_body|raw }}
            </div>
        </div>
    </div>

{% endblock %}
